{% extends 'root.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div class="main-block1 d-flex flex-column align-items-center justify-content-center">
        <h1 class="main-block1-title">OnineAcademy</h1>
        <p class="main-block1-text">Обучение онлайн - твой ключ к знаниям и навыкам</p>
        <button class="btn main-block1-btn">Записаться на курс</button>
    </div>
{% endblock %}
</body>
</html>